POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

TIMESCALE_PASSWORD=postgres
TIMESCALE_PORT=5433

JWT_SECRET=secretKey
JWT_EXPIRES_IN=1h

AUTH_PORT=3000
USERS_PORT=3001
ZONES_PORT=3002
GATEWAY_PORT=3003
RESERVATIONS_PORT=3004
PAYMENTS_PORT=3005
SUPPORT_PORT=3006

MERCADOPAGO_ACCESS_TOKEN=123
MERCADOPAGO_WEBHOOK_SECRET=123
